.search-input{
    margin-bottom:5px;
	margin-left:20px;
    border-radius:10px;
    -webkit-border-radius:5px;
    border:1px solid #eaeaea;
    box-shadow:none;
    font-size:15px;
}

.search-btn{
    margin-bottom:15px;
	margin-left:20px;
}

.left-btn{
	margin-left:20px;
}