<div>
	<form  method="post" >
		<input ng-hide="true" type="text" ng-model="userid" ng-disabled="true">
		<label>First Name:</label>
		<input class="w3-input w3-border" type="text" ng-model="fName"  placeholder="First Name">
		<br>
		<label>Last Name:</label>
		<input class="w3-input w3-border" type="text" ng-model="lName"  placeholder="Last Name">
		<br>
		<label>Age:</label>
		<input class="w3-input w3-border" type="number" ng-model="Age"  placeholder="Age">
		<br>
		<label>Sex:</label>
		<input class="w3-input w3-border" type="text" ng-model="Sex"  placeholder="Sex">
		<br>
		<label>Major:</label>
		<input class="w3-input w3-border" type="text" ng-model="Major"  placeholder="Major">
		<br>
		<label>Password:</label>
		<input class="w3-input w3-border" type="password" ng-model="passw1" placeholder="Password">
		<br>
		<label>Repeat:</label>
		<input class="w3-input w3-border" type="password" ng-model="passw2" placeholder="Repeat Password">
		<br>
		<button class="w3-btn w3-green w3-ripple" ng-click="createUser()" ng-disabled="error||incomplete">&#10004; Create</button>
		<button class="w3-btn w3-green w3-ripple" ng-click="cancle()" >Cancle</button>
	</form>
</div>